body {
  font-family: monospace;
  background-color: #fdfdfd;
}

a {
color: #000;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

li.artist .card-panel{
height: 20em;
}

.album {
  height: 6em;
  border: 1px solid red;
}

.sticky-wrapper {
  position: relative;
}

.searchArtists {
  position: absolute;
  top: 30px;

}

.stuck {
  position:fixed;
  top: 15px;
  width: 473px;
}

.card a, .card a:hover {
color: #363636;
}
.card .card-title {
  font-size: 1.1em;
}

.card-image .card-title a {
  color: #fff;
}
.card-panel {
  padding: 2em;
}

.card-image {
margin-bottom: 1em;
}

.card-image:nth-child(4) {
margin: 0px;
}

.card .card-action {
  border: 0;
}
h1 {
  font-size: 1.3em;
  margin-bottom: 0;
  margin-top: 0;
}

.row {
}

.btn {
  border-radius: 0;
  text-transform: none;
  border: 1px solid #000;
  background-color: #fff    ;
  text-decoration: none;
  color: #000;
  text-align: center;
  letter-spacing: .8px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 47px;
  font-size: 1.3em;
}

.btn:hover, .btn:active, .btn:visited, .btn:focus {
  background-color: #fff;
   color: #000;
  border: 1px solid #000;
 text-decoration: underline;
   -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


input[type=text], input[type=password], input[type=email], input[type=date], textarea {
  border-bottom: 3px solid turquoise;
  font-size: 3em;
  padding-bottom: 7px;
 margin: .5em 0 1em 0;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=date]:focus, textarea:focus, input[type=text]:active, input[type=text]:visited {
  border-bottom: 3px solid turquoise;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

