body {
  font-family: monospace;
  background-color: #fdfdfd;
}

a {
color: #000;
text-decoration:none;
}

a:hover {
text-decoration:underline;
}

/*li.artist .card-panel {
height: 20em;
}
*/


/*
.album {
  height: 6em;
}
*/
.album-title {
  font-size: 1em;
  background-color: turquoise;
}

.stuck {
  position:fixed;
  width: 396px;
}

.card a, .card a:hover {
color: #363636;
}
.card .card-title {
  font-size: 1.1em;
}

.card-image .card-title a {
  color: #fff;
}


.card-image:nth-child(4) {
margin: 0px;
}

.searchArtists {
height: 12em;
}

.card-image {
  /* max-height: 225px; */
}
.relatedArtistsResults {
  z-index: 99;
}
.card .card-action {
  border: 0;
}

h1 {
  font-size: 1em;

  line-height: 1.2em;
}

.truncated {
  /* display:inline-block; */
  max-width: 203px;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}



.btn {
  border-radius: 0;
  text-transform: none;
  border: 1px solid #000;
  background-color: #fff    ;
  text-decoration: none;
  color: #000;
  text-align: center;
  letter-spacing: .8px;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  cursor: pointer;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 47px;
  font-size: 1.3em;
}

.btn:hover,
.btn:active,
.btn:visited,
.btn:focus {
  background-color: #fff;
   color: #000;
  border: 1px solid #000;
 text-decoration: underline;
   -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


input[type=text],
input[type=password],
input[type=email],
input[type=date],
textarea {
  border-bottom: 3px solid turquoise;
  font-size: 3em;
  padding-bottom: 7px;

  margin: .5em 0 .5em 0;
  /* width: 11em; */
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=date]:focus,
textarea:focus,
input[type=text]:active,
input[type=text]:visited {
  border-bottom: 3px solid turquoise;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}


.container {
  width: 90%;
}


#search-again {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 8s;
  -webkit-animation-iteration-count: 1;
}

.why {
  padding: 4em;
}
